body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    flex-direction: row;
}


.top-left-links, .top-right-links {
    padding: 5px;
    margin: 10px;
    color: #222;
}


#top-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

nav {
    display: flex; 
}

#sign-in {
    position: relative;
    bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    border-radius: 4px;
    background: #1A73E8;
    border: 1px solid transparent;
    padding: 9px 15px;
    color: #fff;
    cursor: pointer;
}